<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.unioncountync.gov/application/files/8315/9432/1864/library-books-for-facebook.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>BookAdvisor</h1>
        <p>Find your favourite book, just one step from your next reading adventure!</p>
        <%= form_tag books_path, :method => "get" do %>
          <%= text_field_tag :search_online, params[:search_online] %>
          <%= submit_tag "Search", class:"btn-search" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">

  
  <% if @suggestions[:yenny] != nil %>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-12">
        <h4 class="my-4">Most searched at Yenny:</h4>
        <div class="sugerencias-yenny fotos-libros" style="margin-top: 20px;">
          <% @suggestions[:yenny].each do |suggestion| %>
            <a href="<%= suggestion[1]["href"] %>" target=”_blank”>
              <img src="<%= suggestion[0]["src"] %>" alt="alt" width="145" height="200" class="zoom">
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
  

  <% if @suggestions[:hernandez] != nil %>  
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <h4 class="my-4">Recomended by Librería Hernández:</h4>
        <div class="sugerencias-hernandez fotos-libros" style="margin-top: 20px;">
          <% @suggestions[:hernandez].each do |suggestion| %>
            <a href="<%= suggestion[1] %>" target=”_blank”>
              <img src="<%= suggestion[0] %>" alt="alt" width="145" height="200" class="zoom">
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>

  
  <% if @suggestions[:bookdep] != nil %>
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <h4 class="my-4">Bestselling Books in Book Depository</h4>
        <div class="sugerencias-hernandez fotos-libros" style="margin-top: 20px;">
          <% @suggestions[:bookdep].each do |suggestion| %>
            <a href="<%= suggestion[1] %>" target=”_blank”>
              <img src="<%= suggestion[0] %>" alt="alt" width="145" height="200" class="zoom">
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
  
  
  <% if @suggestions[:meli] != nil %>
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <h4 class="my-4">Bestselling Books in Mercado Libre</h4>
        <div class="sugerencias-hernandez fotos-libros" style="margin-top: 20px;">
          <% @suggestions[:meli].each do |suggestion| %>
            <a href="<%= suggestion[1] %>" target=”_blank”>
              <img src="<%= suggestion[0] %>" alt="alt" width="145" height="200" class="zoom">
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
  
  
  <% if @suggestions[:cuspide] != nil %>
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <h4 class="my-4">Bestsellers of the week at Cuspide:</h4>
        <div class="sugerencias-cuspide fotos-libros" style="margin-top: 20px;">
          <% @suggestions[:cuspide].each do |suggestion| %>
            <a href="<%= suggestion[1] %>" target=”_blank”>
              <img src="<%= suggestion[0] %>" alt="alt" width="145" height="200" class="zoom">
            </a>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

