<div class="container">
  <div class="row align-center">
    <%= form_tag books_path, :method => "get" do %>
      <%= text_field_tag :search_online, params[:search_online] %>
      <%= submit_tag "Search", class:"btn-search" %>
    <% end %>

    <div class="col-12">
      <% if @books[:description][:description] != "N/A" && @books[:description][:description] != nil %>
        <div class="jumbotron">
          <div class="mt-3 mb-2">
            <i class="fas fa-arrow-left"> </i>
            <%= link_to "back to home", root_path %>
          </div>
          <h3 class="display-6">Great choice to read "<%= @books[:title].capitalize %>"</h3>
          <p class="lead font-italic">Brief description of your selection, Powered by Google Apis.</p>
          <hr class="my-4">
            <div class="box">
              <% if @books[:description][:rating] != nil && @books[:description][:rating] != "N/A" %>
                <h6><i class="fas fa-star"></i> <%= @books[:description][:rating] %></h6>
              <% end %>
              <input type="checkbox" id="expanded">
              <p>"<%= @books[:description][:description] %>".</p>
              <% if @books[:description][:description].length > 424 %>
                <label for="expanded" role="button" class="read-more-btn">Read More</label>
              <% end %>
            </div>
        </div>
        <% else %>
          <div class="mt-3">
            <i class="fas fa-arrow-left"> </i>
            <%= link_to " back to search", root_path %>
          </div>
      <% end %>
    </div>
  </div>

  <h3 class="my-4">Where you can find this amazing book:</h3>
  <div class="cards-index">
    <div class="row row-cols-1">
      <div class="col mb-4">
        <% if @books[:cuspide] != nil %>
          <div class="card mb-3">
            <div class="row g-0" style="align-items: center" id="badge">
              <div class="col-lg-4 col-md-4 col-xs-6 text-center">
                <img src="<%= @books[:cuspide][:img_src] %>" alt="book_cover" class="img-card p-1">
                <span id="badge-new" class="badge badge-primary position-absolute text-white rounded" style="font-size:12px;display: none;">Lower price!</span>
              </div>
              <div class="col-lg-8 col-md-8 col-xs-6">
                <div class="card-body">
                  <h5 class="card-title"><%= @books[:cuspide][:title] %></h5>
                  <p class="card-text">
                  <p>Author: <%= @books[:cuspide][:author] %></p>
                  <p class="price-item">$<%= @books[:cuspide][:price] %></p>
                  <p>Library: <%= @books[:cuspide][:library] %></p>
                  <p>Description: <%= @books[:cuspide][:description].truncate(140) %> </p>
                  <% if @books[:cuspide][:href].present? %>
                    <div class="card-items d-flex">
                      <div class="buy-item">
                        <a href="<%= @books[:cuspide][:href] %>" target="_blank"> Buy on <%= @books[:cuspide][:library] %></a>
                      </div>
                      
                      <% if @books[:cuspide].persisted? %>
                        <div class="btn btn-primary">
                          <%= link_to 'View my wishlist', wishlist_path, :class => "btn btn-primary mt-2 textclass w-100" %>
                        </div>
                      <% else %>
                        <div class="wish-item pl-5">
                          <!-- <a href="*">Add to <i class="fas fa-heart"></i></a> -->
                          <%= simple_form_for @book do |f| %>
                            <%= f.input :title, :as => :hidden, :input_html => { :value => @books[:cuspide][:title] } %>
                            <%= f.input :author, :as => :hidden, :input_html => { :value => @books[:cuspide][:author] } %>
                            <%= f.input :price, :as => :hidden, :input_html => { :value => @books[:cuspide][:price] } %>
                            <%= f.input :library, :as => :hidden, :input_html => { :value => @books[:cuspide][:library] } %>
                            <%= f.input :description, :as => :hidden, :input_html => { :value => @books[:cuspide][:description] } %>
                            <%= f.input :href, :as => :hidden, :input_html => { :value => @books[:cuspide][:href] } %>
                            <%= f.input :img_src, :as => :hidden, :input_html => { :value => @books[:cuspide][:img_src] } %>
                            <%=f.submit "Add to wishlist!", class: "btn btn-primary mt-2 textclass w-100" %>
                          <% end %>                        
                      <% end %>
                      
                      </div>            
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
      <div class="col mb-4">
        <% if @books[:yenny] != nil %>
          <div class="card mb-3">
            <div class="row g-0" style="align-items: center" id="badge">
              <div class="col-lg-4 col-md-4 col-xs-6 text-center">
                <img src="<%= @books[:yenny][:img_src] %>" alt="book_cover" class="img-card p-1">
                <span id="badge-new" class="badge badge-primary position-absolute text-white rounded" style="font-size:12px;display: none;">Lower price!</span>
              </div>
              <div class="col-lg-8 col-md-8 col-xs-6">
                <div class="card-body">
                  <h5 class="card-title"><%= @books[:yenny][:title] %></h5>
                  <p class="card-text">
                  <p>Author: <%= @books[:yenny][:author] %></p>
                  <p class="price-item">$<%= @books[:yenny][:price] %></p>
                  <p>Library: <%= @books[:yenny][:library] %></p>
                  <p>Description: <%= @books[:yenny][:description].truncate(140) %> </p>
                  <% if @books[:yenny][:href] != nil %>
                    <div class="card-items d-flex">
                      <div class="buy-item">
                        <p><a href="<%= @books[:yenny][:href] %>" target="_blank"> Buy on <%= @books[:yenny][:library] %></a></p>
                      </div>
                      <% if @books[:yenny].persisted? %>
                        <div class="btn btn-primary">
                          <%= link_to 'View my wishlist', wishlist_path, :class => "btn btn-primary mt-2 textclass w-100" %>
                        </div>
                      <% else %>
                        <div class="wish-item pl-5">
                          <!-- <a href="*">Add to <i class="fas fa-heart"></i></a> -->
                          <%= simple_form_for @book do |f| %>
                            <%= f.input :title, :as => :hidden, :input_html => { :value => @books[:yenny][:title] } %>
                            <%= f.input :author, :as => :hidden, :input_html => { :value => @books[:yenny][:author] } %>
                            <%= f.input :price, :as => :hidden, :input_html => { :value => @books[:yenny][:price] } %>
                            <%= f.input :library, :as => :hidden, :input_html => { :value => @books[:yenny][:library] } %>
                            <%= f.input :description, :as => :hidden, :input_html => { :value => @books[:yenny][:description] } %>
                            <%= f.input :href, :as => :hidden, :input_html => { :value => @books[:yenny][:href] } %>
                            <%= f.input :img_src, :as => :hidden, :input_html => { :value => @books[:yenny][:img_src] } %>
                            <%=f.submit "Add to wishlist!", class: "btn btn-primary mt-2 textclass w-100" %>
                          <% end %>                        
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
      <div class="col mb-4">
        <% if @books[:hernandez] != nil %>
          <div class="card mb-3">
            <div class="row g-0" style="align-items: center" id="badge">
              <div class="col-lg-4 col-md-4 col-xs-6 text-center">
                <img src="<%= @books[:hernandez][:img_src] %>" alt="book_cover" class="img-card p-1">
                <span id="badge-new" class="badge badge-primary position-absolute text-white rounded" style="font-size:12px;display: none;">Lower price!</span>
              </div>
              <div class="col-lg-8 col-md-8 col-xs-6">
                <div class="card-body">
                  <h5 class="card-title"><%= @books[:hernandez][:title] %></h5>
                  <p class="card-text">
                  <p>Author: <%= @books[:hernandez][:author] %></p>
                  <p class="price-item">$<%= @books[:hernandez][:price] %></p>
                  <p>Library: <%= @books[:hernandez][:library] %></p>
                  <p>Description: <%= @books[:hernandez][:description].truncate(140) %> </p>
                  <% if @books[:hernandez][:href] != nil %>
                    <div class="card-items d-flex">
                      <div class="buy-item">
                        <a href="<%= @books[:hernandez][:href] %>" target="_blank"> Buy on <%= @books[:hernandez][:library] %></a>
                      </div>
                      <% if @books[:hernandez].persisted? %>
                        <div class="btn btn-primary">
                          <%= link_to 'View my wishlist', wishlist_path, :class => "btn btn-primary mt-2 textclass w-100" %>
                        </div>
                      <% else %>
                        <div class="wish-item pl-5">
                          <!-- <a href="*">Add to <i class="fas fa-heart"></i></a> -->
                          <%= simple_form_for @book do |f| %>
                            <%= f.input :title, :as => :hidden, :input_html => { :value => @books[:hernandez][:title] } %>
                            <%= f.input :author, :as => :hidden, :input_html => { :value => @books[:hernandez][:author] } %>
                            <%= f.input :price, :as => :hidden, :input_html => { :value => @books[:hernandez][:price] } %>
                            <%= f.input :library, :as => :hidden, :input_html => { :value => @books[:hernandez][:library] } %>
                            <%= f.input :description, :as => :hidden, :input_html => { :value => @books[:hernandez][:description] } %>
                            <%= f.input :href, :as => :hidden, :input_html => { :value => @books[:hernandez][:href] } %>
                            <%= f.input :img_src, :as => :hidden, :input_html => { :value => @books[:hernandez][:img_src] } %>
                            <%=f.submit "Add to wishlist!", class: "btn btn-primary mt-2 textclass w-100" %>
                          <% end %>                        
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
      <div class="col mb-4">
        <% if @books[:meli] != nil %>
          <div class="card mb-3">
            <div class="row g-0" style="align-items: center" id="badge">
              <div class="col-lg-4 col-md-4 col-xs-6 text-center">
                <img src="<%= @books[:meli][:img_src] %>" alt="book_cover" class="img-card p-1">
                <span id="badge-new" class="badge badge-primary position-absolute text-white rounded" style="font-size:12px;display: none;">Lower price!</span>
              </div>
              <div class="col-lg-8 col-md-8 col-xs-6">
                <div class="card-body">
                  <h5 class="card-title"><%= @books[:meli][:title] %></h5>
                  <p class="card-text">
                  <p>Author: <%= @books[:meli][:author] %></p>
                  <p class="price-item">$<%= @books[:meli][:price] %></p>
                  <p>Library: <%= @books[:meli][:library] %></p>
                  <p>Description: <%= @books[:meli][:description].truncate(140) %> </p>
                  <% if @books[:meli][:href] != nil %>
                    <div class="card-items d-flex">
                      <div class="buy-item">
                        <a href="<%= @books[:meli][:href] %>" target="_blank"> Buy on <%= @books[:meli][:library] %></a>
                      </div>
                      <% if @books[:meli].persisted? %>
                        <div class="btn btn-primary">
                          <%= link_to 'View my wishlist', wishlist_path, :class => "btn btn-primary mt-2 textclass w-100" %>
                        </div>
                      <% else %>
                        <div class="wish-item pl-5">
                          <!-- <a href="*">Add to <i class="fas fa-heart"></i></a> -->
                          <%= simple_form_for @book do |f| %>
                            <%= f.input :title, :as => :hidden, :input_html => { :value => @books[:meli][:title] } %>
                            <%= f.input :author, :as => :hidden, :input_html => { :value => @books[:meli][:author] } %>
                            <%= f.input :price, :as => :hidden, :input_html => { :value => @books[:meli][:price] } %>
                            <%= f.input :library, :as => :hidden, :input_html => { :value => @books[:meli][:library] } %>
                            <%= f.input :description, :as => :hidden, :input_html => { :value => @books[:meli][:description] } %>
                            <%= f.input :href, :as => :hidden, :input_html => { :value => @books[:meli][:href] } %>
                            <%= f.input :img_src, :as => :hidden, :input_html => { :value => @books[:meli][:img_src] } %>
                            <%=f.submit "Add to wishlist!", class: "btn btn-primary mt-2 textclass w-100" %>
                          <% end %>                        
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
      <div class="col mb-4">
        <% if @books[:bookdep] != nil %>
          <div class="card mb-3">
            <div class="row g-0" style="align-items: center" id="badge">
              <div class="col-lg-4 col-md-4 col-xs-6 text-center">
                <img src="<%= @books[:bookdep][:img_src] %>" alt="book_cover" class="img-card p-1">
                <span id="badge-new" class="badge badge-primary position-absolute text-white rounded" style="font-size:12px;display: none;">Lower price!</span>
              </div>
              <div class="col-lg-8 col-md-8 col-xs-6">
                <div class="card-body">
                  <h5 class="card-title"><%= @books[:bookdep][:title] %></h5>
                  <p class="card-text">
                  <p>Author: <%= @books[:bookdep][:author] %></p>
                  <p class="price-item">$<%= @books[:bookdep][:price] %></p>
                  <p>Library: <%= @books[:bookdep][:library] %></p>
                  <p>Description: <%= @books[:bookdep][:description].truncate(140) %> </p>
                  <% if @books[:bookdep][:href] != nil %>
                    <div class="card-items d-flex">
                      <div class="buy-item">
                        <a href="<%= @books[:bookdep][:href] %>" target="_blank"> Buy on <%= @books[:bookdep][:library] %></a>
                      </div>
                      <% if @books[:bookdep].persisted? %>
                        <div class="btn btn-primary">
                          <%= link_to 'View my wishlist', wishlist_path, :class => "btn btn-primary mt-2 textclass w-100" %>
                        </div>
                      <% else %>
                        <div class="wish-item pl-5">
                          <!-- <a href="*">Add to <i class="fas fa-heart"></i></a> -->
                          <%= simple_form_for @book do |f| %>
                            <%= f.input :title, :as => :hidden, :input_html => { :value => @books[:bookdep][:title] } %>
                            <%= f.input :author, :as => :hidden, :input_html => { :value => @books[:bookdep][:author] } %>
                            <%= f.input :price, :as => :hidden, :input_html => { :value => @books[:bookdep][:price] } %>
                            <%= f.input :library, :as => :hidden, :input_html => { :value => @books[:bookdep][:library] } %>
                            <%= f.input :description, :as => :hidden, :input_html => { :value => @books[:bookdep][:description] } %>
                            <%= f.input :href, :as => :hidden, :input_html => { :value => @books[:bookdep][:href] } %>
                            <%= f.input :img_src, :as => :hidden, :input_html => { :value => @books[:bookdep][:img_src] } %>
                            <%=f.submit "Add to wishlist!", class: "btn btn-primary mt-2 textclass w-100" %>
                          <% end %>                        
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
